{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fenix SPA</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">

    <link href="{%static 'app_ex/css/style.css'%}" rel="stylesheet">

</head>

<body onload="muestraHora();">

    <!--Gilbert Lagos-->
    <!--Jose Guerra-->
    <!--Nicolas Layana-->
    <!--Luis Debia-->
    <!--Carlos Armijo -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="{%static 'app_ex/img/logo_fenix.png'%}" alt="logo fenix"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link btn-outline-secondary" href="#" role="button">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link btn-outline-secondary" href="#" role="button">Noticias
                            Destacadas del Dia </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link nav-link btn-outline-secondary" href="#" tabindex="-1"
                            aria-disabled="true">Diarios</a>
                    </li>
                    <li class="nav-item active">

                        <a class="nav-link nav-link btn-outline-secondary" href="#" tabindex="-1"
                            aria-disabled="true">Finanzas</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0 ">
                    <input class="form-control mr-sm-2" type="search" placeholder="Sitios de Busqueda"
                        aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busqueda</button>
                </form>

            </div>
        </div>
    </nav>


    <div class="container">

        <div class="row">
            <header class="col-md-12 mt-2 pt-5">
                <h1 class="text-center">Fenix SPA</h1>
                <h2 class="text-center">Actualizado: <span class="badge badge-info" id="Hora">10:50PM</span></h2>
            </header>
        </div>

        <h3 class="mt-3 pb-3 mb-4 font-italic border-bottom">
            <b>Datos Financieros</b>
        </h3>
        <div class="row">
            <div class="col-md-3 mb-sm-4">
                <div class="card mb-6">
                    <div class="social-card-header align-middle text-center bg-facebook">
                        <i class="fab fa-facebook-square"></i>
                    </div>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col border-right">
                                <i class="far fa-thumbs-up text-facebook"></i>
                                <span class="text-muted">Dolar</span>
                                <div class="font-weight-bold" id='dolar'></div>
                            </div>
                            <div class="col">
                                <i class="fas fa-share-alt text-facebook"></i>
                                <span class="text-muted">Euro</span>
                                <div class="font-weight-bold" id='euro'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4">
                    <div class="social-card-header align-middle text-center bg-google-plus">
                        <i class="fab fa-google-plus-square"></i>
                    </div>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col border-right">
                                <i class="fab fa-google-plus-g text-google-plus"></i>
                                <span class="text-muted">I.P.C.</span>
                                <div class="font-weight-bold" id='ipc'></div>
                            </div>
                            <div class="col">
                                <i class="fas fa-share-alt text-google-plus"></i>
                                <span class="text-muted">U.F.</span>
                                <div class="font-weight-bold" id='uf'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4">
                    <div class="social-card-header align-middle text-center bg-twitter">
                        <i class="fab fa-twitter-square"></i>
                    </div>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col border-right">
                                <i class="fab fa-twitter text-twitter"></i>
                                <span class="text-muted">U.T.M.</span>
                                <div class="font-weight-bold" id='utm'></div>
                            </div>
                            <div class="col">
                                <i class="fas fa-share-alt text-twitter"></i>
                                <span class="text-muted">Desempleo</span>
                                <div class="font-weight-bold" id='tasa_desempleo'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4">
                    <div class="social-card-header align-middle text-center bg-pinterest">
                        <i class="fab fa-pinterest-square"></i>
                    </div>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col border-right">
                                <i class="fab fa-pinterest-p text-pinterest"></i>
                                <span class="text-muted">Bitcoin</span>
                                <div class="font-weight-bold" id='bitcoin'></div>
                            </div>
                            <div class="col">
                                <i class="fas fa-share-alt text-pinterest"></i>
                                <span class="text-muted">Cobre</span>
                                <div class="font-weight-bold" id='libra_cobre'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-6">
                <div class="card text-white bg-colores flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class=" d-inline-block mb-2 text-white">Noticias destacadas del dia</strong>
                        <ul>
                            <li>[07-06-2020 15:22 ] Noticia 1. <a class="btn mb-1 btn-sm btn-outline-warning" data-toggle="modal"
                                    data-target="#modal-1" href="#"> ver mas</a></li>
                           
                            <li>[07-06-2020 15:22 ] Noticia 2. <a class="btn mb-1 btn-sm btn-outline-warning" data-toggle="modal"
                                    data-target="#modal-2" href="#"> ver mas</a></li>
                          
                            <li>[07-06-2020 15:22 ] Noticia 3. <a class="btn btn-sm mb-1 btn-outline-warning" data-toggle="modal"
                                    data-target="#modal-3" href="#"> ver mas</a></li>
                           
                            <li>[07-06-2020 15:22 ] Noticia 4. <a class="btn btn-sm btn-outline-warning" data-toggle="modal"
                                    data-target="#modal-4" href="#"> ver mas</a></li>
                      </ul>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card text-white bg-colores flex-md-row mb-4 shadow-sm h-md-300 card-pofiada">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-white">Motores de Busqueda</strong>
                        <ul>
                            <li>Buscar en <a href="#">Google</a></li>
                            <li>Buscar en <a href="#">Duck Duck Go</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--ROW-->

        <div class="row">
            <div class="col-md-4">
                <div class="card text-white bg-colores flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-white">Diarios Nacionales E Internacionales</strong>
                        <ul>
                            <li>Revisar Noticias En<a href="#"> Washington Post</a></li>
                            <li>Revisar Noticias En<a href="#"> Emol</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-white bg-colores flex-md-row mb-4 shadow-sm h-75 h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-white">Sitios de Finanzas</strong>
                        <ul>
                            <li>Ir a<a href="#"> Bolsa de Comercio de Santiago</a></li>
                            <li>Ir a<a href="#"> Yahoo Finanzas</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card text-white bg-colores flex-md-row mb-4 shadow-sm h-75 h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-white">Libros</strong>
                        <ul>
                            <li><a href="#">Social Arquitecture (Pieter Hintjens)</a></li>
                            <li><a href="#">Emol (Pieter Hintjens)</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!--ROW-->

    </div>
    <!--CONTAINER-->

     <!-- Modal - 1 -->
     <div class="modal" id="modal-1" tabindex="-1" role="dialog" aria-labelledby="modal-1"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-scrollable" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title">El comercio online
                     no desplazará al
                     comercio físico</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <img class="img-fluid" src="{% static 'app_ex/img/noticias/noticia1.png'%}"
                     alt=" compras online">
                 <p>Las compras online revolucionaron la industria. Mientras el comercio
                     presencial se está reinventando para no perder valor, el e-commerce
                     adquiere cada vez mayor relevancia entre las preferencias de los
                     consumidores con la irrupción de nuevos productos.</p>

             </div>
             <div class="modal-footer">
                 <p>Carla Cabello 21 NOV 2020 08:42 AM</p>
                 <button type="button" class="btn btn-secondary"
                     data-dismiss="modal">Cerrar</button>

             </div>
         </div>
     </div>
 </div>
 <!-- Modal - 1 -->


  <!-- Modal - 2 -->
  <div class="modal" id="modal-2" tabindex="-1" role="dialog" aria-labelledby="modal-2"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Presidente Piñera presenta
                  requerimiento de
                  inconstitucionalidad ante el TC por segundo
                  retiro de 10%</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p>
                  <img class="img-fluid" src="{% static 'app_ex/img/noticias/pinera.jpg'%}" alt="Piñera">
                  Presidente Piñera presenta requerimiento de
                  inconstitucionalidad ante el TC por segundo
                  retiro de 10%
                  Este domingo el Presidente Sebastián Piñera
                  presentó un requerimiento para que
                  el Tribunal Constitucional declare inconstitucional el proyecto del
                  segundo retiro
                  del 10% de fondos previsionales
                  que se aprobó en la Cámara de Diputados y que
                  será discutido este miércoles en la Sala del Senado.
                  "Queremos proteger a los chilenos en tiempos duros y difíciles y por eso
                  hemos
                  puesto en marcha una red de protección social. Hoy día alcanza a 14
                  millones de
                  personas protegidas y apoyadas por esa red”, comentó el Mandatario, tras
                  participar en una pauta sobre la reapertura de las fronteras en el
                  aeropuerto de
                  Santiago.
                  El Gobierno, en paralelo, presentó esta semana una iniciativa propia
                  para el
                  mismo tema, aunque fijando varios límites a la moción parlamentaria
                  impulsada
                  por la diputada Pamela Jiles (PH). Además, hoy, el titular de Hacienda
                  no descartó
                  que la iniciativa pueda llegar al Tribunal Constitucional.
                  El Presidente hoy estuvo acompañado, en la cita por lo de las fronteras,
                  por los
                  ministros de Interior, Rodrigo Delgado; de Transporte, Gloria Hutt; de
                  Economía,
                  Lucas Palacios; de Obras Públicas, Alfredo Moreno; y de Salud, Enrique
                  Paris.
              </p>
          </div>
          <div class="modal-footer">

              <p>Por Francisco Morales Muñoz, 22 noviembre 2020</p>
              <button type="button" class="btn btn-secondary"
                  data-dismiss="modal">Cerrar</button>

          </div>
      </div>
  </div>
</div>

  <!-- Modal - 2 -->


 <!-- Modal - 3 -->
 <div class="modal" id="modal-3" tabindex="-1" role="dialog" aria-labelledby="modal-3"
 aria-hidden="true">
 <div class="modal-dialog modal-dialog-scrollable" role="document">
     <div class="modal-content">
         <div class="modal-header">
             <h5 class="modal-title">Los libros digitales matarán a las
                 librerías</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
         </div>
         <div class="modal-body">
             <img  class="img-fluid" src="{% static 'app_ex/img/noticias/noticia2.jpg'%}" alt="libros ">
             <p>Hacia fines de la primera década del siglo, la aparición de Kindle y
                 otros lectores electrónicos llevaron a entusiastas digitales a decretar
                 la pronta obsolescencia del libro impreso y el consecuente declive del
                 circuito libresco. Hoy, incluso con pandemia, no se ve que eso esté
                 ocurriendo.</p>>
         </div>
         <div class="modal-footer">
            <p>Pablo Marín 21 NOV 2020 00:15 AM</p>
             <button type="button" class="btn btn-secondary"
                 data-dismiss="modal">Cerrar</button>

         </div>
     </div>
 </div>
</div>

 <!-- Modal - 3 -->


      <!-- Modal - 4-->
      <div class="modal" id="modal-4" tabindex="-1" role="dialog" aria-labelledby="modal-4"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Avanza el memorial del carbón</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <img class="img-fluid" src="{% static 'app_ex/img/noticias/noticia3.jpg'%}" alt="carbon de espino">
                  <p>Se estima que son más de mil mineros los que murieron en faenas bajo tierra de Lota, en el Biobío. La obra debería estar lista a fines del 2021.</p>
              </div>
              <div class="modal-footer">
                  <p>Karin Hillmann HACE 2 HORAS</p>
                  <button type="button" class="btn btn-secondary"
                      data-dismiss="modal">Cerrar</button>

              </div>
          </div>
      </div>
  </div>

    <!-- Modal - 4-->



    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 bg-secondary pt-3 ">
                    <p class="text-center text-white">2019-2020 python group Awakelab <img  src="{% static 'app_ex/img/validator.png'%}" alt="Validado"></p>
                </div>

            </div>

        </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="{% static 'app_ex/js/main.js'%}"></script>
</body>

</html>